/user_agent_stats_201409.pdf
/user_agent_stats_201501.pdf
/device_percentage_chart.png
/user_agent_stats_201412.pdf
/CTClogin.UA.log.201501
/UAFileAnalysis.csv
/UAFileAnalysis.ods
/CTClogin.UA.log.201502
/CTClogin.UA.log.201503
/CTClogin.UA.log.201504
/garbage.txt
/windows_browser_percentage_chart.png
/user_agent_stats_201411.pdf
/CTClogin.UA.log.201409
/browser_percentage_chart.png
/CTClogin.UA.log.test
/CTClogin.UA.log.201410
/CTClogin.UA.log.201411
/CTClogin.UA.log.201412
/user_agent_stats_201503.pdf
/user_agent_stats_201504.pdf
/user_agent_stats_201410.pdf
/os_percentage_chart.png
/Java Testing.txt
/new_uas.txt
/skipped.txt
/not_found.txt
/Test List.ods
/user_agent_stats_201502.pdf
/BrowserStats201502.txt